<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result</title>
	<meta name="author" content="Rutvikraj Vala">

    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .body-bg {
            background-color: #100f11;
            background-image: linear-gradient(270deg,#de6161, #2657eb);
        }
    </style>
</head>
<body class="body-bg min-h-screen pt-1 md:pt-4 pb-8 px-0 md:px-4" style="font-family:'Lato',sans-serif;">
    <header class="bg-white bg-opacity-25 max-w-screen rounded-md shadow-2xl">
        <div class="container mx-auto flex flex-wrap p-3 flex-col items-center">
            <a
                class="flex order-first lg:order-none title-font font-medium items-center text-white lg:items-center lg:justify-center mb-4 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="65.1" height="39.36" viewBox="0 0 651 393.26">
                    <path
                      d="M1142,563,944.59,756.67a14.11,14.11,0,0,1-19.6,0L727.6,563c-46.68-45.79-46.48-120.55,1.67-164.84a117.82,117.82,0,0,1,161.61,2.59l43.91,43.08,43.91-43.08a117.81,117.81,0,0,1,161.6-2.59C1188.46,442.47,1188.66,517.22,1142,563Z"
                      transform="translate(-613 -367.37)" style="fill:#f33" />
                    <polyline
                      points="646 211.63 536.02 211.42 386.77 211.42 350.43 298.19 303.52 116.76 267.36 201.49 120.83 201.49 5 201.63"
                      style="fill:none;stroke:#06f;stroke-linecap:round;stroke-linejoin:round;stroke-width:10px" />
                  </svg><span class="ml-3 text-xl xl:block lg:hidden">Heartify</span>
            </a>
        </div>
    </header>

    <main class="bg-white bg-opacity-20 max-w-7xl mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
        <section >
            <h3 class="text-white font-bold text-4xl text-center">You have been diagnosed with no disease. Congratulations!!!</h3>
            <br><p class="text-white text-xl text-center"> <span class="mx-3">•</span>The algorithm has diagnosed you with no heart disease based on your inputs. However, We highly recommend it might be better to talk to a doctor regardless.</p>                
        </section>
        <br>
        <div>
            <a href="/"><center>
                <button 
                    class="p-2 pl-24 pr-24 bg-blue-600 bg-opacity-75 text-white text-lg rounded-lg hover:bg-blue-600 hover:shadow-xl transition duration-200">Home!!!</a></button>
            </center>
        </a>
            </div>
    </main>

    <footer class="max-w-lg mx-auto flex justify-center text-white">
        <a href="/contact" class="hover:underline" >Contact US</a>
        <span class="mx-3">•</span>
        <a href="/about" class="hover:underline">About the Project</a>
    </footer>
</body>
</html>